.ba-slider{
	&__slide{
		min-height: 100vh;
		color: #FFF;
		background: 50%;
		background-size: cover;
		.ba-container{
			min-height: 100vh;
			padding: 100px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;

		}
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		z-index:2;
		border: none;
		background: none;
		font-size: 0;
		background: no-repeat 50%;
		height: 42px;
		width: 23px;
		outline: none;
		margin: -21px 20px 0;
	}
	.slick-prev{
		left: 0;
		background-image: url(../img/arrow_left.png);
	}
	.slick-next{
		right: 0;
		background-image: url(../img/arrow_right.png);
	}
	.slick-dots{
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		bottom: 40px;
		width: 100%;
		li{
			display: inline-block;
			padding: 0 5px;
			button{
				border: none;
				background: none;
				font-size: 0;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background: rgba(grey, 80%);
				outline: none;
				margin: 0 5px;
				&:hover{
					background: rgba(#fff,100%);
				}
			}
			&.slick-active{
				button{
					background: #ccc;
				}
			}
		}

	}
}
